//COLORS
$grey-color: #eee;
$color-grey: #f7f7f7;
$color-black: #000;
$color-green: #12845db8;
$color-white: #fff;


//GRID
$gutter-vertical:80px;
$gutter-horizontal:60px;
$grid-width:1140px;

//FONT

$default-font-size:16px;
