//COLORS
$grey-color: #eee;
$color-grey: #f7f7f7;
$color-black: #000;
$color-green: #12845db8;
$color-white: #fff;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;


$color-blue-light:#56499ce6;
$color-blue-dark:#3621a7e6;


$color-yellow-light:#b3953a;
$color-yellow-dark:#cc9c0c;
//GRID
$gutter-vertical:80px;
$gutter-horizontal:60px;
$grid-width:1140px;

//FONT

$default-font-size:16px;
